name: TypeCheck

on: [pull_request]

permissions:
  contents: read

jobs:
  TypeCheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3

      - name: Install dependencies with uv
        run: uv sync --group test

      - name: TypeCheck
        run: uvx ty check
