name: TypeCheck

on: [pull_request]

permissions:
  contents: read

jobs:
  TypeCheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5

      - name: Install dependencies with uv
        run: uv sync --group test

      - name: TypeCheck
        run: uvx ty check
